theme "kanagawa"

keybinds {
    locked {
        unbind "Ctrl g"
        bind "Ctrl z" { SwitchToMode "normal"; }
    }
    normal {
        unbind "Ctrl g"
        bind "Ctrl z" { SwitchToMode "locked"; }
    }
}
